body{
    margin:0;
    background-color:white;   
}
a{
    color:white;
    text-decoration:none;

}
ul{
    list-style:none;
}
.cabecera{
    background-color:#5f0c96;
    padding: 16px;
    border:7px solid rgb(112, 58, 7);  
}

.navegacion_lista{
    display: flex;
    gap: 16px;
    flex-direction: row;
    justify-content: center;
}

.titulo{
    font-family: 'Dancing Script', cursive;
    font-size: 55px;
    text-align: center;
    color:rgb(221, 108, 15);
}

.secciones{
    min-height:50vh;
    background-image: url("/Documentacion/thumb-1920-26102.jpg");
    background-size:cover;
    min-height: 100vh;
    background-attachment: fixed;
}

.libros{
    background-color: rgba(152, 90, 238, 0.2);
    padding: 16px;
    margin:20px;
    margin-top:0;
    margin-block-end:0;
    text-align:center;
    display:flex;
    gap: 30px;
    color:white;
}

.seccion_contenido{
  width:100%;
}

.subtitulo{
    flex-direction: end;
    flex-wrap:wrap;
    justify-content:center;
}

.parrafo{
    font-size: 20px;
}

.boton{
    display: inline-block;
    background-color: rgb(221, 108, 15);
    color:black;
    padding:10px 20px;
    border-radius: 20px;
}

.imagen{
    vertical-align:super;
}


.pie_de_pagina{
    background-color:#5f0c96;
    padding: 16px;
    border:7px solid rgb(112, 58, 7);
    color:rgb(221, 108, 15);
}

.iconos{
    padding:16;
}

@media(max-width:992px){
    .libros{
        background-color: rgba(152, 90, 238, 0.2);
        flex-direction: column-reverse;
        text-align:center;
        display:flex;
        color:white;
        vertical-align:baseline;
    }

    .subtitulo{
        flex-direction: column;
        flex-wrap: wrap;
        text-align: center;
        vertical-align: baseline;
    }

    .parrafo{
        display:block;
        flex-direction:column;
    }

    .seccion_contenido{
        flex-direction: column;
        text-align: center;  
        width:100%; 
    }

    .secciones{
        display:flex;
        flex-direction:column;
        text-align:center;
        display:block;
    }
}


    





